body {
    font-family: Arial, sans-serif;
    background-color: #bd0f32;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    text-align: center;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#add-task-btn {
    padding: 10px;
    font-size: 16px;
    background-color: #0a9a1a;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #4cae4c;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task-item:nth-child(odd) {
    background-color: #f9f9f9;
}

.task-item button {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.task-item button:hover {
    background-color: #c9302c;
}
